name: Build And Run Test on Mac

on:
  push:
    branches: [ main ]
  pull_request: 
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  Build_and_Run_GTest:
    name: Build and Run GoogleTest
    runs-on: macos-11
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: anaconda-client-env
        python-version: 3.8
        channels: conda-forge
        auto-activate-base: false
        use-mamba: true
        mamba-version: "*"

    - name: Install Conda Dependencies
      run: |
        mamba install compilers --file ${{github.workspace}}/ci-utils/envs/conda_cpp.txt

    - name: Configure CMake
      run: cmake -B ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_CLI=ON -DRUN_GTEST=ON -DUSEARROW=ON -DCMAKE_PREFIX_PATH=$CONDA_PREFIX -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX

    - name: Build
      run: cmake --build ${{github.workspace}} --config ${{env.BUILD_TYPE}} --parallel 2

    - name: Run GTest Suite
      working-directory: ${{github.workspace}}
      # Execute tests.  
      run: ./tests/runAllTests  -C ${{env.BUILD_TYPE}}
      

  Build_and_Run_PyTest:
    name: Build and Run PyTest
    runs-on: macos-11
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: anaconda-client-env
        python-version: 3.8
        channels: conda-forge
        auto-activate-base: false
        use-mamba: true
        mamba-version: "*"

    - name: Install Conda Dependencies
      run: |
        mamba install compilers pytest requests --file ${{github.workspace}}/ci-utils/envs/conda_cpp.txt --file ${{github.workspace}}/ci-utils/envs/conda_py.txt 

    - name: Install Nyxus
      working-directory: ${{github.workspace}}
      run: CMAKE_ARGS="-DCMAKE_PREFIX_PATH=$CONDA_PREFIX -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DUSEARROW=ON" python -m pip install . -vv

    - name: Run PyTest
      working-directory: ${{github.workspace}}
      run: python -m pytest tests/python/